
//设置项目scss全局变量
// $color: red;
// 左侧的菜单的宽度
$base-menu-width: 260px;
$base-menu-min-width: 60px;

// 左侧菜单栏背景颜色
$base-menu-background-color:#001529;

//面包屑高度
$base-tabbar-height: 50px; 

//菜单logo高度
$base-menu-logo-height: 50px;
//菜单logo 字体大小
$base-menu-logo-font-size: 20px;